# Ignore pastas e arquivos do Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# SQLite Database files
*.sqlite

# Arquivos específicos do Visual Studio
.vscode/
.vsconfig
*.slnx.sqlite
*.vscode/

# Configurações locais do projeto
ProjectSettings.json
VSWorkspaceState.json
DocumentLayout.json
